.main{
    border:5px solid gray;
    width :500px;
    min-height:500px;
}
.box{
    width:100px;
    height:100px;
    padding: 10px;
}
.box1{
 background-color: blue;
}
.box2{
    background-color: aqua;
}
.box3{
    background-color: brown;
}